*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.slider{
	position: absolute;
	top :0;
	left : 0;
	width: 100%;
	height: 100vh;
	background : linear-gradient(to left,#2f6179e0,#9e9e9ed1);
	z-index: -1;
}
.MySite{
	height:70px; 
	width:70px;
}
nav {
	display : grid;
	grid-template-columns: 1fr 1fr 10%;
	min-height: 10vh;
	color: white; 
	align-items: center;
}
nav a{
	
	color: white; 
	padding: 0 0 10px 0;
}
#logo{
	grid-column: 2/3;
	font-size: 30px;
	justify-self:end;
	padding: 0 20px 0 0;

}
.MySite{

	justify-self : center;
}

section{
	display: flex;
	height: 80vh;
	justify-content: center;
	align-items: center;
	padding: 0 0 40px 0;
}
.background{
	height: 60%;
	width : 100%;
	position: relative;

}
.background img{
	width: 100%;
	height: 100%;
	object-fit: cover;


}
.headline{
	position: absolute;
	top: 70%;
	left: -5%;
	font-size: 50px;
	transform: translate(20%,70%);
	color: white;
	z-index: 3;
}
.background::after{
	content: "";
	background: black;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.3;
}

.boxes{
	position: : absolute;
	height: 80%;
	width :80%;
	margin : 240px auto;
	background: #000;
}

.boxes .box{

	position: relative;
	width: calc(400px - 30px);
	height: calc(300px - 30px);
	background: #f2f2f2;	
	float: left;
	margin: 15px;

}










