.head{
	text-align: center;
	font-size: 50px;
	color: steelblue;
}
form{
	margin: 20px auto;
	width: 450px;
	color: steelblue;
}
input{
	padding: 10px;
	font-size: inherit;
}
input[type = "text"]{
	display: block;
	margin-bottom: 25px;
	width : 100%;
	border: 2px solid steelblue;
}
input[type = "Submit"]{
	display: block;
	margin-bottom: 25px;
	width : 100%;
	border: 2px solid steelblue;
	margin-top: 25px;
}
input[type = "radio"]{
	display: inline-block;
	margin-bottom: 25px;
	width: 20px;
	border: 2px solid steelblue;
	margin-top: 25px;
}